*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 176, 212);
}

.container-navbar {
    background-color: #ca58ab;
    width: 100%;
    height: 15vh;
}

.ul-navbar {
     display: flex;
     height: 100px;
     justify-content: center;
     align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 20px;
margin: 5px;
color: white;
font-size: 30px;
}

.li-navbar:hover {
    background-color: #ba1f89;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: rgb(229, 174, 213);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
}

.a-content {
    background-color: rgb(126, 18, 92);
    color: rgb(158, 104, 154);
    text-decoration:none;
    font-size: 20px;
    width: 280;
    height: 280;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 60px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.img-content {
    width: 150;
    height: 150;
    border-radius: 60px;
}

.container-footer {
    height: 5vh;
    background-color: rgb(136, 55, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 15px;
    color: aliceblue;
}
