body {
    background-color: rgb(238, 177, 187);
}

.img-content {
    width: 60;
    height: 60;
    border-radius: 8px;
}

.title {
    background-color: #ca58ab;
    width: 100%;
    height: 15vh;
}

